<!--<div data-sly-test=" ${properties.atpText}">-->

<!--<h1> ${properties.atpText} </h1>-->
<!--<div> ${properties.atpDesc} </div>-->

<!--</div>-->
<!--<img src="/content/dam/aem-training/atp/download.jpeg"/>-->

<!--    -->
<!--<ul data-sly-list.label="${properties.articleLabels}">-->
<!--        <li data-sly-test="${labelList.count<=3}"> last - ${labelList.last},first - ${labelList.first},index - ${labelList.index}, count - ${labelList.count} -${label}> </ul>-->
<!--</ul>-->

<!--<ul data-sly-list.label="${properties.articleLabels}">-->
<!--		<li data-sly-test="${labelList.count<=3}">${label} </ul>-->
<!--	</ul>-->
<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--<ul data-sly-repeat.label="${properties.articleLabels}">-->
<!--		<li data-sly-test="${labelList.count<=3}">${label} </ul>-->
<!--	</ul>-->


<!--<sly data-sly-include="writer.html"></sly>-->

<!--<div data-sly-resource="${'np-button' @resourceType='newsportal/components/button'}"></div>-->


<!--<div data-sly-template.writer>-->
<!--<h1>Anantapur</h1>-->
<!--<h2>Tower-Clock</h2>-->
<!--<h3>atp@gmail.com</h3>-->
<!--</div>-->
<!--<div data-sly-call="${writer}"></div>-->

<!--<div data-sly-template.employe="${@firstName,lastName,email}">-->

<!--<h1>FirstName- ${firstName} </h1>-->
<!--<h2>LastName- ${lastName} </h2>-->
<!--<h3>E-mail- ${email} </h3>-->
<!--</div>-->

<!--<div data-sly-call="${employe @firstName='Chicha',lastName='Hari',email='hari@gmail.com'}"></div>-->


<!--<sly data-sly-use.studentobj="student.html"/>-->

<!-- <div data-sly-call="${studentobj.student @firstName='Ram',lastName='Hari',email='hari@gmail.com'}"></div>-->
<!-- -->