        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="tb-contact">
                            <p><i class="fas fa-envelope"></i>${properties.email}</p>
                            <p><i class="fas fa-phone-alt"></i>${properties.phoneno}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tb-menu" data-sly-list.page ="${properties.pagePath}">
                      <sly data-sly-use.contentResource="${page}/jcr:content"/>  
                      <a href="${page}.html">${contentResource.jcr:title}</a>
	 
                        </div>
                    </div>
                </div>
            </div>
        </div>